@font-face {
    font-family: 'Poppins';
    src: url('../fonts/');
    src: url('../fonts/') format('embedded-opentype'),
        url('../fonts/') format('woff2'),
        url('../fonts/') format('woff'),
        url('../fonts/') format('truetype'),
        url('../fonts/') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

